/* Styels for pitch ready */
body{
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    a{
        color: #fff;
        &:hover{
            color: #6fb544;
        }
    }
}

section{
    clear: both;
    float: left;
    width: 100%;
    position: relative;

    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom:2.4rem;
        li{
            margin-bottom: 1.2rem;

            @media only screen and (min-width: 992px) {
                font-size: 1.25vw;
                display: flex;
                align-items: center;
            }
        }
        i{
            color: #6fb544;
            margin-right: 1rem;

            @media only screen and (min-width: 992px) {
                font-size: 2vw;
            }
        }
    }
}

h2{
    text-align: center;

    &.has-mob-bottom-margin{
        @media only screen and (max-width: 991px) {
            margin-bottom: 2rem;
        }
    }
    
    @media only screen and (min-width: 1024px) {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    &.left-align{
        text-align: left;
    }
}

img{
    max-width: 100%;
}

header{

    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media only screen and (min-width: 1024px) {
            padding-top: 15px;
            padding-bottom: 15px;

        }
    }

    .logo {
        width: 11vw;
        img{
            max-width: 100%;
        }

        @media only screen and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 15px;
            img{
                max-width: 120px;
            }
        }
    }

    .main-menu{
        .nav-item {  
            text-transform: capitalize;
            .nav-link{
                color: #fff;
            }
            @media only screen and (min-width: 1024px) {
                margin-right: 1.8vw;
                .dropdown-item{
                    font-size: 0.85vw;
                }
            }
        }

        @media only screen and (max-width: 1023px) {
            max-width: 60vw;

            .navbar,.navbar-toggler{
                padding-left: 0;
                border: none;
            }
            .navbar{
                padding-top: 0;
            }
        }

    }

    .login-btn{
        border-color: #6fb544;
        color: #6fb544;
        font-size: 12px;
        padding: 12px 26px;
        &:hover{
            background: none;
            color: #fff;
            border-color: #fff;
        }
        @media only screen and (max-width: 1024px) {
            padding: 6px 18px;
        }
    }

    @media only screen and (min-width: 1024px) {
        .header-inner{
            font-size: 0.85vw;
        }
    }

    @media only screen and (max-width: 1023px) {
        .header-links {
            margin-bottom: auto;
        }
    }
}

.main-banner {
	float: left;
	width: 100%;
    position: relative;

    &::after{
        content:'';
        height: 2px;
        width: 100%;
        float: left;
        clear: both;
        background: rgb(111,181,68);
        background: linear-gradient(90deg, rgba(111,181,68,1) 0%, rgba(111,181,68,1) 16%, rgba(250,250,250,1) 100%); 
    }
    
    .main-banner-overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: stretch;

        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            @media only screen and (max-width: 991px) {
                align-items: center;
            }

        }

        .main-tagline{
            color: #6fb544;
            font-weight: 700;

            @media only screen and (max-width: 991px) {
                margin: 0 auto;
                font-size: 22px;
                text-align: center;
                width: 70vw;
            }
            @media only screen and (min-width: 992px) {
                line-height: 3vw;
                width: 24vw;
                font-size: 2.4vw;
            }

        }

        .para-text{
            width: 24vw;
            margin: 2rem 0;

            @media only screen and (max-width: 991px) {
                width: 70vw;
                text-align: center;
                font-size: 0.9rem;
                line-height: 1.2rem;
            }

            @media only screen and (min-width: 992px) {
                font-size: 0.9vw;
                line-height: 1.2vw;
            }
        }

        .btn{
            padding-left: 30px;
            padding-right: 30px;
        }

    }
}


section{
    .btn{
        padding-left: 30px;
        padding-right: 30px;
    }

    h3{
        color: #6fb544;
        margin-bottom: 1.4rem;

        @media only screen and (min-width: 992px) {
            font-size: 2.3vw;
            margin-bottom: 3vw;
        }
    }
    p{
        line-height: 2rem;
    }
}

.sec-2{
    padding-top: 10vw;
}

.sec-2-contwrap{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sp-tagline{
    color: #6fb544;
    font-size: 2rem;
    float: left;
    width: 100%;
    margin: 0.8rem 0;

    @media only screen and (max-width: 991px) {
        line-height: 2.2rem;
    }
    @media only screen and (min-width: 992px) {
        font-size: 1.6vw;
    }
}

.sec-2-logos{
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    a{
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.sec-2-sideimg{
    position: relative;

    @media only screen and (max-width: 991px) {
        padding-top: 4rem;
    }

    .thumb-wrap{
        width: 73%;
        z-index: 1;
        float: right;
        position: relative;
        

        @media only screen and (max-width: 991px) {
            width: 100%;
        }
        
        
        .play-btn-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .play-btn {
            padding: 0;
            border: 1px solid #fff;
            border-radius: 60px;
            font-size: 48px;
            width: 62px;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }

    @media only screen and (min-width: 992px) {
        &::after{
            content: '';
            height: 40%;
            width: 70%;
            position: absolute;
            left: 8%;
            top: 20%;
            background: url('../images/sec-2-bg.png') center repeat ;
            z-index: -1;
        }
    }

    a{
        color: #fff;
        &:hover{
            color: #fff;
            .play-btn {
                background: rgba(255,255,255, 0.4);
            }
        }
    }
}

.sec-3{
    padding-top: 6rem;
    padding-bottom: 6rem;

    .sec-3-contwrap{
        padding-top: 5vw;

        @media only screen and (max-width: 991px) {
            .text-md-left{
                margin-bottom: 3rem;
            }
        }        
    }

}


.sec-4{
    background: #06060b;
    padding: 4rem 0;
}

.serv-boxes-parent {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
    
    @media only screen and (min-width: 992px) {
        margin-top:4.6vw;
    }

}

.serv-box {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
    padding: 0;
    background: #000;
    color: #fff;
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    @media only screen and (min-width: 992px) {
        width: 46%;
        margin-bottom: 2vw;
    }
    
    .serv-cont {
        float: left;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0,0,0,0.8);
        }

        .box-number {
            font-size: 2.2rem;
            margin-left: auto;
            color: #a5a7bb;

            @media only screen and (min-width: 992px) {
                font-size: 2.2vw;
            }
        }

        .txt-box {
            width: 75%;
            padding-left: 15px;
            font-size: 1.3rem;

            @media only screen and (min-width: 992px) {
                font-size: 1.3vw;
            }
        }

        .l-more-link{
            color: #6fb544;
            margin-left: auto;
            &:hover{
                color: #8ad85b;
                text-decoration: none;
            }
        }
    }
}

footer {
	clear: both;
	float: left;
	width: 100%;
    background: #000;

    .footer-top-wrap {
        float: none;
        padding: 4rem 0 2rem;
        display: table;
    }

    .footer-left{
        float: left;
    }

    .footer-right{
        float: left;

        @media only screen and (max-width: 991px) {
            padding-top: 4rem;
        }

    }
    .smo-links {
        margin-bottom: 5rem;
        @media only screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            color: #6fb544;
            margin-right: 1.9rem;
            font-size: 20px;
            &:hover{
                color: #fff;
            }
            @media only screen and (min-width: 992px) {
            font-size: 1.3vw;
            }
        }
    }


    .footer-address{
        .add-col{
            display: flex;
            clear: both;
            float: left;
            width: 100%;
            font-size: 13px;

            @media only screen and (min-width: 992px) {
                font-size: 0.85vw;
            }

            i{
                color: #6fb544;
                margin-right: 1rem;
            }
        }
        .address-box{
            float: left;
            width: 100%;
            margin-bottom: 2rem;

            .title-txt {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 0.4rem;
                clear: both;
                float: left;
                width: 100%;

                @media only screen and (min-width: 992px) {
                    font-size: 1.2vw;
                }
            }
        }
    }

    .footer-bottom {
        clear: both;
        float: left;
        width: 100%;
        background: #06060b;
        padding: 2rem 0;

        .copy-text{
            font-size: 12px;
            @media only screen and (max-width: 991px) {
                text-align: center;
                width: 100%;
                float: left;
            }            
        }

    }

    .scrl-top {
        float: right;
        width: 35px;
        height: 35px;
        border: 1px solid #6fb544;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        color: #6fb544;

        &:hover{
            background: rgba(255,255,255, 0.4);
        }
    }
}
